.socialMenu {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 15px 0 0;
}

.socialMenu a {
  color: #000;
  font-size: 24px;
  margin-right: 12px;
}

.socialMenu.footerSocial a {
  color: #fff;
}
