.project {
  display: grid;
  margin-bottom: 30px;
}

.projectImage {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
  border-radius: 5px 5px 0 0;
}

.projectImage:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, lightgreen, #222);
  opacity: 0.85;
  transition: opacity 0.3s ease;
}

.project:hover .projectImage:after {
  opacity: 0;
}

.projectInfo {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
  border-radius: 5px;
  padding: 15px 30px;
}

.stack {
  margin-top: 15px;
}

.stack li {
  margin-right: 15px;
  font-size: 18px;
  background: lightgreen;
  padding: 7px 10px;
}

.links {
  margin-top: 15px;
}

.links li {
  margin-right: 15px;
}

.links li a {
  font-size: 22px;
  color: #000;
}

.links li a:hover {
  color: rgb(42, 12, 177);
}

@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  .projectImage {
    grid-row: 1/1;
    grid-column: 1 / span 8;
    height: 30rem;
    border-radius: 5px;
  }

  .project:nth-of-type(2n) .projectImage {
    grid-column: 5 / -1;
  }

  .projectInfo {
    grid-row: 1/1;
    grid-column: 5 / 12;
    position: relative;
  }

  .project:nth-of-type(2n) .projectInfo {
    grid-column: 1 / 8;
  }
}
